<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkBookApp"
        tools:targetApi="31">
        <activity
            android:name=".lessons.SubordinatingClauses"
            android:exported="false" />
        <activity
            android:name=".lessons.InflectionalDerivationalMorphemes"
            android:exported="false" />
        <activity
            android:name=".lessons.FreeBoundMorphemes"
            android:exported="false" />
        <activity
            android:name=".lessons.MorphPrincipal"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizModelRearrange"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizModelMulChoice7"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizModelMulChoice6"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizModelMulChoice2"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizAddMulChoice2"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizTypeRearangeActivity"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizAddRearange"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizAddMulChoice7"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizAddMulChoice6"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizTypeActivity"
            android:exported="false" />
        <activity
            android:name=".scores.ScoresTakenActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizAddActivity"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizActivityOneOne"
            android:exported="false" />
        <activity
            android:name=".lessons.MorphActivity"
            android:exported="false" />
        <activity
            android:name=".lessons.MorphActivityTwo"
            android:exported="false" />
        <activity
            android:name=".lessons.MorphActivityOne"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivitySeven"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivitySix"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivityFive"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivityFour"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivityThree"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivityTwo"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizzesActivitySyntaxOne"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizzesActivityMorph"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizzesActivitySyntax"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivityOne"
            android:exported="false" />
        <activity
            android:name=".lessons.SyntaxActivity"
            android:exported="false" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".quizzes.QuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".scores.ScoresActivity"
            android:exported="false" />
        <activity
            android:name=".lessons.LessonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WorkBookApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>